h1 {
  line-height: 3;
  color:#FFFFFF;
  text-align: center;
  text-transform: uppercase;
  font-size: 125%;
}

header {
  background-image: url("flywheel.jpg"); 
}

h2 {
  color: #000000;
}


aside {
	display: inline-block;
	background-color: #808000;
	width: 20%;
	float: left;
}

aside img {
	display: block;
	width:50%;
	border: 1px solid black;
	margin: 20px 10px 20px 10px;
	margin-left: auto;
	margin-right: auto;
}

section {
}


nav {
	display:inline-block;
	background-color: transparent;
	width:100%;
}

nav a {
	display: inline-block;
	width: 10%;
	background-color: #FFFFFF;
	padding:1%;
	opacity: 0.5;
	border-radius:4px;
	text-align: center; 
	margin: 20px 80px;
	color: #000000;
	text-decoration: none;
}

/*
.button {
	background-color: transparent;
	border: none;
	color: black;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}
*/


nav a:hover {
	opacity: 1;
	color: #000080;
}

.active {
	color: #000080;
	opacity: 1;
}

th, td {
	border: 1px solid black;
}

td {
	background-color: #90EE90;
	padding: 10px;
}

th {
	background-color: #556B2F;
	color: #FFFFFF;
	padding: 10px;
	border-bottom: 2px solid lime;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

tr>:nth-child(1) {
	text-align: left;
}
tr>:nth-child(2) {
	text-align: center;
}
tr>:nth-child(3) {
	text-align: center;
}


table {
	margin: 0 auto;
}


tr:not(:first-child) {
	opacity: 0.7;
}


tr:not(:first-child):hover {
	opacity:1;
}
